p{
    font-size:1rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.2rem;
}
/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li{
    font-size: 1rem;
}

/* Home Section */
#home{
    height:380px;
}
#home::before{
    height: 480px;
}
#home h1{
    font-size: 1rem;
}
#home h2{
    font-size: 2.8rem;
}

/* Section Principles */
#Principles .principle-para{
    font-size:1.6rem;
}
.priciple-box-1{
    width:45%;
}
.principle-box-2{
    width:45%;
}
iframe{
    width:200px;
    height:200px;
}

/* Footer */
.footer-contact{
    flex-direction:column;
}
.wrapper{
    flex-wrap: wrap;
}
.logo-text{
    margin-bottom: 20px;
}
.footer-copyright{
    flex-direction: column;
}
.copyright{
    margin-bottom: 20px;
}
footer h4{
    margin-top: 30px;
    margin-bottom:20px;
}